<div class="detailed desktop-padding-20">
  <div class="page-header margin-top-20 col-xs-12 col-sm-12">
    <h1 class="header">Detailed</h1>
  </div>

  <cl-daterangepicker date-from-format="detailed.dateFromFormat" date-to-format="detailed.dateToFormat" date-from-label="Leave Date From" date-from-model="detailed.crew.leaveDateFrom" date-to-label="Leave Date To" date-to-model="detailed.crew.leaveDateTo"></cl-daterangepicker>

  <cl-daterangepicker date-from-format="detailed.dateFromFormat" date-to-format="detailed.dateToFormat" date-from-label="Posted Date From" date-from-model="detailed.crew.postedDateFrom" date-to-label="Posted Date To" date-to-model="detailed.crew.postedDateTo"></cl-daterangepicker>

  <!-- <div class="form-group col-xs-12 col-sm-6">
    <label class="control-label" for="postedDateFrom">Posted Date From</label>
    <div class="input-group">
      <input type="text" class="form-control" id="postedDateFrom" name="postedDateFrom" placeholder="" ng-model="detailed.crew.postedFrom" />
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
  </div>

  <div class="form-group col-xs-12 col-sm-6">
    <label class="control-label" for="postedDateTo">Posted Date To</label>
    <div class="input-group">
      <input type="text" class="form-control" id="postedDateTo" name="postedDateTo" placeholder="" ng-model="detailed.crew.postedTo" />
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
  </div> -->

  <div class="form-group col-xs-12 col-sm-6">
    <label class="control-label" for="crewName">Name</label>
    <input type="text" class="form-control" id="crewName" name="crewName" placeholder="" ng-model="detailed.crew.name" />
  </div>

  <div class="form-group col-xs-12 col-sm-6">
    <label class="control-label" for="crewStatus">Status</label>
    <select class="form-control" id="crewStatus" name="crewStatus" ng-model="detailed.crew.status">
        <option ng-value="" selected></option>
        <option ng-value="crewStatus">Status 1</option>
        <option ng-value="crewStatus">Status 2</option>
        <option ng-value="crewStatus">Status 3</option>
      </select>
  </div>

  <div class="form-group col-xs-12 col-sm-6 col-sm-offset-right-6">
    <label class="control-label" for="employeeNumber">Employee Number</label>
    <input type="text" class="form-control" id="employeeNumber" name="crewName" placeholder="" ng-model="detailed.crew.employeeNo" />
  </div>

  <div class="form-group col-xs-12 col-sm-12">
    <label class="control-label" for="businessUnit">Business Unit</label>
    <div class="form-inline-full-width">
      <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
          <select class="form-control" ng-model="detailed.crew.businessUnit">
              <option ng-value="" selected></option>
              <option ng-value="businessUnit">Status 1</option>
              <option ng-value="businessUnit">Status 2</option>
              <option ng-value="businessUnit">Status 3</option>
            </select>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
          <button type="button" class="btn btn-warning btn-md" ng-click="detailed.refreshData(detailed.crew)">Refresh</button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group col-xs-12 col-sm-6 col-sm-offset-right-6">
    <input class="styled-checkbox" id="retractedLeaves" type="checkbox" value="" />
    <label for="retractedLeaves">Show Retracted Leaves</label>
  </div>

  <div class="form-group col-xs-12 col-sm-12 margin-top-20">
    <button type="button" class="btn btn-default btn-md">Print <span class="glyphicon glyphicon-print"></span></button>
    <button type="button" class="btn btn-default btn-md">Export <span class="glyphicon glyphicon-export"></span></button>
  </div>

  <div class="container-table col-xs-12 col-sm-12 margin-top-40">
    <div ng-include="'views/partials/detailed-datatable.html'"></div>
  </div>
</div>