<div class="retract">
  <div class="page-header col-xs-12 col-sm-12">
    <h1 class="header">Retract</h1>
  </div>

  <div class="form-group col-xs-12 col-sm-6">
    <label class="control-label" for="dateFrom">Date From</label>
    <div class="input-group">
      <input type="text" class="form-control" id="dateFrom" name="dateFrom" placeholder="" />
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
  </div>

  <div class="form-group col-xs-12 col-sm-6">
    <label class="control-label" for="dateTo">Date To</label>
    <div class="input-group">
      <input type="text" class="form-control" id="dateTo" name="dateTo" placeholder="" />
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
  </div>

  <div class="form-group col-xs-12 col-sm-6 col-sm-offset-right-6">
    <label class="control-label" for="crewName">Name</label>
    <input type="text" class="form-control" id="crewName" name="crewName" placeholder="" />
  </div>

  <div class="form-group col-xs-12 col-sm-12">
    <label class="control-label" for="employeeNumber">Employee Number</label>
    <div class="form-inline-full-width">
      <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
          <label for="first_name" class="sr-only">First Name</label>
          <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
        </div>
        <div class="form-group col-xs-12 col-sm-6">
          <button type="button" class="btn btn-warning btn-md">Search</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-table col-xs-12 col-sm-12 margin-top-40">
    <div ng-include="'views/partials/retract-datatable.html'"></div>
  </div>
</div>