.crew-leave-posting .container-view {
  float: left;
  width: 100%;
  border: 1px solid #ddd;
  border-top: none;
  padding-bottom: 15px;
}


/* Styled Checkbox */

.crew-leave-posting .styled-checkbox {
  position: absolute;
  opacity: 0;
}

.crew-leave-posting .styled-checkbox+label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.crew-leave-posting .styled-checkbox+label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border: 2px solid gray;
}

.crew-leave-posting .styled-checkbox+label.red:before {
  border-color: #df0250;
}

.crew-leave-posting .styled-checkbox:hover+label:before {
  background: white;
}

.crew-leave-posting .styled-checkbox:checked+label:before {
  background: #0f2f86;
}

.crew-leave-posting .styled-checkbox:disabled+label {
  color: #b8b8b8;
  cursor: auto;
}

.crew-leave-posting .styled-checkbox:disabled+label:before {
  box-shadow: none;
  background: #ddd;
}

.crew-leave-posting .styled-checkbox:checked+label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}